<% active ||= :none %>
<% question ||= nil %>

<nav class="panel">
  <%= active_panel(questions_path, active, :index) do %>
    <span class="panel-icon">
      <%= icon('fas', 'list') %>
    </span>
    <%= t('.all_questions') %>
  <% end %>

  <%= active_panel(new_question_path, active, :new) do %>
    <span class="panel-icon">
      <%= icon('fas', 'plus-square') %>
    </span>
    <%= t('.new') %>
  <% end %>
</nav>
