<%= simple_form_for(:session, url: session_path) do |form| %>
  <%= form.input(:email, as: 'email', input_html: { autofocus: true }) %>
  <%= form.input(:password) %>
  <%= bulma_button(form, text: 'Logga in') %>

  <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path %>
    <% end %>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>
<% end %>
