<% content_for(:sidemenu) do %>
  <%= render('panel', active: :index) %>
  <%= render('shortcuts', active: @status) %>
<% end %>

<div class="flex flex-wrap -mt-4">
    <div class="w-full md:w-2/3 px-2 mb-8">
      	<div class="flex">
			<div class="w-full">
        		<h1 class="title is-2">Välkommen, <%= current_user.name %>!</h1>
			</div>
		</div>
		<div class="w-full mt-2"> 
			<div class="w-full flex flex-wrap">								
			</div>			 
		</div>                     
	</div>
	<div class="w-full md:w-1/3 px-2 flex">
		<div class="w-3/4">
		</div>
		<div class="">
			<p class="control mt-3">
				<a href="/projects/new" class="button is-success">
					<%= icon('fas', 'plus', class: 'mr-2') %>
					Nytt projekt
				</a>
			</p>                  
		</div>	      
	</div>
</div>

<div class="columns mt-64">
	<div class="column">
		<nav class="level is-mobile">
			<div class="level-item has-text-centered">
				<div>
					<p class="heading"><%= t('.active_projects') %></p>
					<p class="title"><%= @counts[:active] %></p>
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<p class="heading"><%= t('.completed_projects') %></p>
					<p class="title"><%= @counts[:completed] %></p>
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<p class="heading"><%= t('.total_project_count') %></p>
					<p class="title"><%= @counts[:total] %></p>
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<p class="heading"><%= t('.logged_time_entries') %></p>
					<p class="title">789</p>
				</div>
			</div>
		</nav>
	</div>
</div>
