<% content_for(:sidemenu) do %>
  <%= render('panel', active: :index) %>
  <%= render('shortcuts', active: @status) %>
<% end %>
<div class="w-full">
	<div class="flex flex-wrap -mt-4">
		<div class="w-2/3 px-2 mb-6">
			<div class="flex">
				<div class="w-16 md:w-20">
					<%= image_tag('profile_pic.svg')%>
				</div>
				<div class="ml-4 mt-2">
					<h1 class="text-2xl md:text-3xl font-medium text-blue-900">Välkommen,<p class="-mt-3"> <%= current_user.name %>!</p></h1>
				</div>
			</div>
		</div>
		<div class="flex-grow hidden md:block">
		</div>
		<div class="w-4/12 md:w-1/4 xl:w-1/5 flex">
			<div class="flex-grow"></div>
			<div class="w-3/4 md:w-auto flex flex-wrap md:flex-no-wrap">
				<div class="w-1/2 ml-2 lg:ml-0">
					<p class="control md:mt-3">
						<a href="/projects/new" class="button w-24 text-md is-success">
							<%= icon('fas', 'plus', class: 'fa-sm mr-2') %>
							Projekt
						</a>
					</p>
				</div>
				<div class="w-1/2 ml-2 lg:ml-2">
					<p class="control md:mt-3">
						<a href="/customers/new" class="button w-24 is-primary">
							<%= icon('fas', 'plus', class: 'fa-sm mr-2') %>
							Kund
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="w-full border-t border-gray-500 px-2">
		<div class="flex flex-wrap mt-8 -mx-2 justify-center">
			<div class="w-full xl:w-1/2 bg-white shadow-xl rounded-lg overflow-auto px-2">
				<div class="w-full border-b border-black p-2">
					<h1 class="text-lg font-semibold text-blue-900 ml-2"><i class="mr-2 far fa-sm fa-list-alt"></i>Aktiva projekt</h1>
				</div>
				<div class="w-full">
					<%= render('projects/table', projects: @projects = Project.includes(:customer).active) %>
				</div>
			</div>
			<div class="w-full xl:w-5/12 bg-white shadow-xl rounded-lg overflow-auto px-2 mt-8 xl:mt-0 ml-0 xl:ml-20 border">
				<div class="w-full border-b border-black p-2">
					<h1 class="text-lg font-semibold text-blue-900 ml-2"><i class="mr-2 far fa-sm fa-address-card"></i>Nya kunder</h1>
				</div>
				<div class="w-full">
					<%= render('customers/table', customers: @customers) %>
				</div>
			</div>
		</div>
	</div>




	<div class="flex flex-wrap -mb-4 mt-64">
		<div class="w-1/4 mb-4 text-center mt-64">
			<p class="heading"><%= t('.active_projects') %></p>
			<p class="title"><%= @counts[:active] %></p>
		</div>
		<div class="w-1/4 mb-4 text-center mt-64">
			<p class="heading"><%= t('.completed_projects') %></p>
			<p class="title"><%= @counts[:completed] %></p>
		</div>
		<div class="w-1/4 mb-4 text-center mt-64">
			<p class="heading"><%= t('.total_project_count') %></p>
			<p class="title"><%= @counts[:total] %></p>
		</div>
		<div class="w-1/4 mb-4 text-center mt-64">
			<p class="heading"><%= t('.logged_time_entries') %></p>
			<p class="title">789</p>
		</div>
	</div>
</div>
