<div class="container sm:mx-auto xl:mx-auto mt-12 md:mt-16 lg:mt-24 xl:mt-40">
  <div class="flex flex-wrap">
    <div class="w-full xl:w-2/4">
      <div class="w-full mx-auto xl:mx-0 xl:w-5/6">
        <div class="w-10/12 lg:w-8/12 xl:w-full mx-auto xl:mx-0">
          <h1 class="text-3xl md:text-5xl font-sans font-bold text-blue-900">
            Anslut ditt företag!
          </h1><br>
          <p class="font-medium text-lg text-gray-700">
            Anslut ditt företag och hitta nya kunder redan idag!<br>
            Fyll i formuläret till höger så kontaktar en av våra säljare er.    
          </p>
        </div>          
      </div>
      <div class="w-5/6 lg:w-8/12 xl:w-5/6 mx-auto xl:mx-0 mt-8 xl:mt-12">
        <div class="content text-lg">
            <ul>
                <li>Vi hjälper dig hitta fler kunder.</li>
                <li>Standardiserade formulär underlättar första kontakten mellan kund och företag.</li>
                <li>Prova gratis. Är du inte nöjd så avslutar vi ditt konto!</li>
            </ul>
        </div>
        <div class="w-4/5 lg:w-8/12 xl:w-2/3 mx-auto sm:mt-8 md:mt-12">
          <%= image_tag('connect.svg')%>    
        </div>            
      </div>        
    </div>
    <div class="w-5/6 xl:w-2/4 mx-auto">
      <div class="w-full md:w-3/4 mx-auto mb-24 sm:mt-20 lg:mt-8">     
        <div class="box">
          <div class="field">
            <label class="label"><%= t('.company_name') %></label>
            <div class="control has-icons-left">
                <input class="input is-medium" type="text">
                <span class="icon is-small is-left">
                    <i class="fas fa-building"></i>
                </span>
            </div>
          </div>

          <div class="field">
              <label class="label"><%= t('.contact_person') %></label>
              <div class="control has-icons-left">
                  <input class="input is-medium" type="text">
                  <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                  </span>
              </div>
          </div>                        

          <div class="field">
              <label class="label"><%= t('.email') %></label>
              <div class="control has-icons-left">
                  <input class="input is-medium" type="email">
                  <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                  </span>
              </div>
          </div>

          <div class="field">
              <label class="label"><%= t('.phone') %></label>
              <div class="control has-icons-left">
                  <input class="input is-medium" type="email">
                  <span class="icon is-small is-left">
                      <i class="fas fa-phone"></i>
                  </span>
              </div>
          </div>

          <div class="field">
              <label class="label"><%= t('.message') %></label>
              <div class="control">
                  <textarea class="textarea" placeholder="<%= t('.message_text') %>"></textarea>
              </div>
          </div>

          <div class="field">
              <div class="control">
                  <button class="button is-info is-large is-fullwidth disabled" disabled><%= t('.submit') %></button>
              </div>
          </div>     
      </div>
     </div>    
    </div>
  </div>
</div>