<div class="container sm:mx-auto xl:mx-auto mb-12 md:mb-20 lg:mb-20 xl:mb-40 mt-12 md:mt-16 lg:mt-24 xl:mt-32">
  <div class="flex flex-wrap">
    <div class="w-full xl:w-2/4">
      <div class="w-full mx-auto xl:mx-0 xl:w-5/6">
        <div class="w-10/12 lg:w-8/12 xl:w-full mx-auto xl:mx-0">
          <h1 class="text-2xl md:text-3xl md:text-5xl font-sans font-bold text-blue-900">
            Hitta Kontrollansvariga nära dig!
          </h1><br>
          <p class="font-medium text-gray-600">
            Hitta kontrollansvariga nära dig idag. Beskriv ert projekt nedan och hitta företag med rätt expertis för just ert projekt.    
          </p>
        </div>
      </div>
      <div class="w-5/6 lg:w-8/12 xl:w-5/6 mx-auto xl:mx-0 mt-8 xl:mt-16">
        <div class="box">
          <div class="field is-grouped has-addons">
            <div class="control is-expanded">
              <div class="select is-fullwidth">
                <select name="projectType">
                  <option value="Nyproduktion">Nyproduktion</option>
                  <option value="Renovering">Renovering</option>
                  <option value="Utbyggnad">Utbyggnad</option>
                  <option value="Industri">Industri</option>
                </select>
              </div>
            </div>
          </div>        
          <div class="field is-grouped">
            <p class="control is-expanded">
              <input class="input" type="text" placeholder="Kommun">
            </p>
            <p class="control">
              <a class="button is-info">
                Sök
              </a>
            </p>
          </div>        
        </div>
      </div>        
    </div>
    <div class="w-5/6 xl:w-2/4 mx-auto">
      <div class="w-5/6 md:w-3/4 xl:w-11/12 mx-auto mt-12 xl:mt-12">
        <%= image_tag('home_house.svg')%>
      </div>
    </div>
  </div>
</div>


<div class="bg-white">
  <div class="container px-4">
    <div class="w-5/6 mx-auto">
      <div class="flex flex-wrap -mx-4">
        <div class="w-full md:w-1/3 px-4 mb-16 mt-16">
          <div class="w-full h-32">
            <p class="font-bold text-2xl text-blue-900">
              Formulär    
            </p>           
            <p class="mt-4">
              Färdiga formulär gjorda för att förenkla för både kund och företag.    
            </p>
          </div>
          <div class="w-2/4 mt-4 mx-auto">
            <%= image_tag('home_form.svg')%>
          </div>            
        </div>
        <div class="w-full md:w-1/3 px-4 mt-16 mb-16">
          <div class="w-full h-32">
            <p class="font-bold text-2xl text-blue-900">
              Kalender    
            </p>           
            <p class="mt-4">
              Överskådlig kalender för alla skeden i projektet.    
            </p>  
          </div>  
          <div class="w-2/4 h-24 mt-4 mx-auto">
            <%= image_tag('home_calendar.svg')%>
          </div>                        
        </div>
        <div class="w-full md:w-1/3 px-4 mt-16 mb-16">
          <div class="w-full xl:h-32">      
            <p class="font-bold text-2xl text-blue-900">
              Karta    
            </p>           
            <p class="mt-4">
              Hitta kontrollansvariga nära dig idag. Beskriv ert projekt nedan och hitta företag med rätt expertis för just ert projekt.    
            </p>
          </div>  
          <div class="w-1/3 h-24 mt-4 mx-auto">
            <%= image_tag('home_map.svg')%>
          </div>                  
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-32">
  <div class="w-5/6 xl:w-full mx-auto">
    <div class="w-full xl:w-1/2 mx-auto">
      <p class="font-bold text-center text-2xl text-blue-900">
        Vill du att ditt företag skall synas på kartan?
      </p>
      <p class="font-bold text-center text-2xl text-blue-900">
        Anslut ert företag idag! 
      </p>
      <div class="w-1/2 md:w-1/5 mb-24 mt-8 mx-auto"> 
          <%= link_to(connect_path, class: 'button is-primary font-medium') do %>
            <%= t('.connect') %>          
          <% end %>    
      </div>  
    </div>
  </div>
</div>


<div class="bg-gray-900">
  <div class="container">
    <div class="w-5/6 xl:w-full mx-auto">
      <div class="w-full xl:w-1/2 mx-auto">
        <div class="w-full mx-auto border-b border-white h-20">
        </div>
        <div class="px-2">
          <div class="flex -mx-2">
            <div class="w-1/3 px-2">
              <div class="mt-12">
                <p class="font-bold text-center text-lg text-white">
                  Adress
                </p>    
                <p class="text-center text-white">
                  KA
                </p>          
                <p class="text-center text-white">
                  Väg
                </p>      
                <p class="text-center text-white">
                  Stad
                </p>
                <p class="text-center text-white">
                  Land
                </p>                                                             
              </div>
            </div>
            <div class="w-1/3 px-2">
              <div class="mt-12">
                <p class="font-bold text-center text-lg text-white">
                  Support
                </p>
                <p class="text-center text-white">
                  kundservice@mail.com
                </p>          
                <p class="text-center text-white">
                  000-000 00 00
                </p>                         
              </div>
            </div>
            <div class="w-1/3 px-2">
              <div class="mt-12">
                <p class="font-bold text-center text-lg text-white">
                  Länkar
                </p>
                <p class="text-center text-white">
                  Anslut företag
                </p>          
                <p class="text-center text-white">
                  Logga in
                </p>      
                <p class="text-center text-white">
                  Kontakt
                </p>
                <p class="text-center text-white">
                  Om oss
                </p>                  
              </div>
            </div>
          </div>
        </div>
        <div class="w-full mx-auto border-t border-white mt-12 h-24">
          <p class="text-center text-white mt-8">
            Copyright 2019.
          </p>            
        </div>
      </div>
    </div>
  </div>
</div>

