<div class="card customer">
  <header class="card-header">
    <p class="card-header-title">
      <%= Customer.model_name.human %>
    </p>
    <%= link_to(icon('fas', 'wrench'), edit_customer_path(customer),
                                   class: 'card-header-icon') %>
  </header>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4"><%= customer.name %></p>
        <ul>
          <li><%= icon('fas', 'phone', text: customer.phone) %></li>
          <li><%= icon('fas', 'home', text: customer.address) %></li>
          <li><%= icon('fas', 'envelope', text: customer.email) %></li>
          <li><%= icon('fas', 'hashtag', text: t('.project_id', id: customer.id)) %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
