<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      <%= Customer.model_name.human %>
    </p>
    <%= link_to(fa_icon('wrench'), edit_customer_path(customer),
                                   class: 'card-header-icon') %>
  </header>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4"><%= customer.name %></p>
        <ul>
          <li><%= fa_icon('phone', text: customer.phone) %></li>
          <li><%= fa_icon('hashtag', text: t('.project_id', id: customer.id)) %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
