<p class="menu-label">
  <%= t('.filter') %>
</p>
<ul class="menu-list">
  <%= active_menu(projects_path(status: :active), active, 'active') do %>
    <%= icon('fas', 'play') %>
    <%= t('models.project.status.active') %>
  <% end %>

  <%= active_menu(projects_path(status: :paused), active, 'paused') do %>
    <%= icon('fas', 'pause') %>
    <%= t('models.project.status.paused') %>
  <% end %>

  <%= active_menu(projects_path(status: :completed), active, 'completed') do %>
    <%= icon('fas', 'check') %>
    <%= t('models.project.status.completed') %>
  <% end %>

  <%= active_menu(projects_path(status: :cancelled), active, 'cancelled') do %>
    <%= icon('fas', 'stop') %>
    <%= t('models.project.status.cancelled') %>
  <% end %>

  <% if active.present? %>
    <%= active_menu(projects_path, active, 'skip') do %>
      <%= icon('fas', 'ban') %>
      <%= t('.unfiltered') %>
    <% end %>
  <% end %>
</ul>
