<!--
  <%= simple_form_for(project) do |f| %>
    <%= f.association(:customer, collection: Customer.all) %>
    <%= f.input(:status, collection: project_statuses,
                        selected: project.status) %>
    <%= f.input(:title) %>
    <%= f.input(:description, input_html: { rows: '5' }) %>
    <%= bulma_button(f) %>
  <% end %>
-->
<%= simple_form_for(project) do |f| %>
<div class="container">
	<div class="w-full mx-auto">
		<div class="w-full lg:w-3/4 mx-auto mt-8">
			<div class="w-full xl:w-2/3 bg-white shadow-xl rounded px-8 pt-6 pb-8 mb-4 mx-auto">
				<div class="text-center">
					<h1 class="text-3xl font-medium text-blue-900 mt-2">
						Skapa ett nytt projekt.
					</h1>
					<div class="w-1/4 mt-6 mx-auto">
						<%= image_tag('write.svg')%>  
					</div>	 
				</div>   
				<div class="mt-4 mb-4">
					<label class="text-gray-800 text-lg font-medium" for="name">
						<%= t('.customer') %>
					</label>
					<%= f.association(:customer, collection: Customer.all, label:false, include_blank: "Välj kund", input_html: {:style => 'width: 1000px'}) %>
				</div>
				<div class="mb-4">
					<label class="text-gray-800 text-lg font-medium">
						<%= t('.project_name') %>
					</label>
					<%= f.input(:title, label:false) %>  </div>
				<div class="mb-4">
					<label class="text-gray-800 text-lg font-medium">
						<%= t('.ID') %>
					</label>
					<input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="ex. 38123">
				</div>
				<div class="mb-4">
					<label class="text-gray-800 text-lg font-medium">
						<%= t('.status') %>
					</label>
					<%= f.input(:status, collection: project_statuses,
					selected: project.status, label:false, input_html: {:style => 'width: 1000px'}) %>       
				</div>                    
				<div class="mb-6">
					<label class="text-gray-800 text-lg font-medium">
						<%= t('.description') %> 
					</label>
					<%= f.input(:description, label: false, input_html: { rows: '4' }) %>			</div>        
				<div class="flex items-center justify-center">
						<div class="">
								<%= bulma_button(f) %>
							</div>
							<div class="ml-2">		
								<%= link_to('/account', class: 'button is-grey font-medium') do %>
									<%= t('.cancel') %>          
								<% end %>
							</div>	
					</button>
				</div>
			</div>
		</div>
	</div>    
</div>
<% end %>
