<ul class="menu-list">
  <%= active_menu(project_path(project), active, :show_project) do %>
    <%= icon('fas', 'clone') %>
    <%= t('.show_project') %>
  <% end %>

  <%= active_menu(edit_project_path(project), active, :edit) do %>
    <%= icon('fas', 'wrench') %>
    <%= t('.edit_project') %>
  <% end %>
</ul>

<p class="menu-label">
  <%= Inspection.model_name.human(count: 2) %>
</p>
<ul class="menu-list">
  <%= active_menu(project_inspections_path(project), active, :index_inspections) do %>
    <%= icon('fas', 'files-o') %>
    <%= t('.all_inspections') %>
  <% end %>

  <%= active_menu(new_project_inspection_path(project), active, :new_project) do %>
    <%= icon('fas', 'plus-square') %>
    <%= t('.new_inspection') %>
  <% end %>
</ul>

<p class="menu-label">
  <%= Image.model_name.human(count: 2) %>
</p>
<ul class="menu-list">
  <%= active_menu(project_images_path(project), active, :index_images) do %>
    <%= icon('fas', 'picture-o') %>
    <%= t('.all_images') %>
  <% end %>

  <%= active_menu(new_project_image_path(project), active, :new_image) do %>
    <%= icon('fas', 'camera') %>
    <%= t('.new_image') %>
  <% end %>
</ul>
