<nav class="panel">
  <%= active_panel(project_path(project), active, :show_project) do %>
    <span class="panel-icon">
      <%= fa_icon('clone') %>
    </span>
    <%= t('.show_project') %>
  <% end %>

  <%= active_panel(edit_project_path(project), active, :edit) do %>
    <span class="panel-icon">
      <%= fa_icon('wrench') %>
    </span>
    <%= t('.edit_project') %>
  <% end %>

  <%= active_panel(project_inspections_path(project), active, :index_inspections) do %>
    <span class="panel-icon">
      <%= fa_icon('files-o') %>
    </span>
    <%= t('.all_inspections') %>
  <% end %>

  <%= active_panel(new_project_inspection_path(project), active, :new_project) do %>
    <span class="panel-icon">
      <%= fa_icon('plus-square') %>
    </span>
    <%= t('.new_inspection') %>
  <% end %>
</nav>
