<% headline ||= nil %>
<% if headline.present? %>
  <h4 class="subtitle"><%= headline %></h4>
<% end %>
<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <td> <%= Project.human_attribute_name(:title) %></td>
      <td> <%= Customer.model_name.human %></td>
      <td> <%= Project.human_attribute_name(:status) %></td>
    </tr>
  </thead>
  <tbody>
    <% projects.each do |p| %>
      <tr>
        <td> <%= link_to(p.title, p) %> </td>
        <td> <%= link_to(p.customer, p.customer) %> </td>
        <td> <%= project_tag(p.status, pos: '', size: 'small') %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
