<% content_for(:sidemenu) do %>
  <%= render('panel', active: :edit, project: @project) %>
<% end %>

<%= project_title(@project.status) %>
<h2 class="subtitle is-3"><%= @project %></h2>
<h2 class="subtitle is-4"><%= t('.title') %></h2>

<%= render('form', project: @project) %>
