<% content_for(:sidemenu) do %>
  <%= render('panel', active: :index, project: @project) %>
  <%= render('filter', active: @status) %>
<% end %>

<%= project_title %>
<h2 class="subtitle is-3"><%= t('.title') %></h2>

<%= render('/searches/form', target: :project) %>
<%= render('table', projects: @projects) %>
