<div class="cointainer has-text-centered">
  <div class="column is-4 is-offset-4">
  <h3 class="title has-text-grey"><%= t('.title') %></h3>
    <div class="box">
      <div id="clearance" class="password-reset">

        <p><%= t('.description') %></p>
        <%= simple_form_for(:password, url: passwords_path) do |f| %>
          <%= f.input(:email, input_html: { autofocus: true },
                              label: t('helpers.label.password.email')) %>
          <%= bulma_button(f, text: t('helpers.submit.password.submit')) %>
        <% end %>
      </div>
    </div>  
  </div>  
</div>