<% active ||= :none %>
<% timeEntry ||= nil %>

<nav class="panel">
  <%= active_panel(time_entries_path, active, :index) do %>
    <span class="panel-icon">
      <%= fa_icon('list') %>
    </span>
    <%= t('.all_time_entries') %>
  <% end %>

  <%= active_panel(new_time_entry_path, active, :new) do %>
    <span class="panel-icon">
      <%= fa_icon('plus') %>
    </span>
    <%= t('.new_time_entry') %>
  <% end %>
</nav>
