<nav class="nav">
  <div class="nav-left">
    <%= link_to(root_path, class: 'nav-item') do %>
      <%= image_tag('ka.svg', style: 'min-width: 10rem;') %>
    <% end %>
  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span class="nav-toggle" id=toggle>
    <span></span>
    <span></span>
    <span></span>
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div class="nav-right nav-menu">
    <a class="nav-item">
      <%= link_to(Customer.model_name.human(count: 2), customers_path) %>
    </a>
    <a class="nav-item">
      <%= link_to(Inspection.model_name.human(count: 2), inspections_path) %>
    </a>
  </div>
</nav>
<%= javascript_pack_tag 'menu' %>
