<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <%= link_to(root_path, class: 'nav-item') do %>
        <%= image_tag('ka.svg', style: 'width: 8rem;') %>
      <% end %>
      <%= link_to(Project.model_name.human(count: 2),
                  projects_path,
                  class: nav_is_active('nav-item is-tab is-hidden-mobile', 'projects'),
                  data: { turbolinks: false }) %>
      <%= link_to(Customer.model_name.human(count: 2),
                  customers_path,
                  class: nav_is_active('nav-item is-tab is-hidden-mobile', 'customers'),
                  data: { turbolinks: false }) %>
    </div>
    <span class="nav-toggle" id=toggle>
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <%= link_to(Project.model_name.human(count: 2),
                projects_path,
                class: nav_is_active('nav-item is-tab is-hidden-tablet', 'projects'),
                data: { turbolinks: false }) %>

      <%= link_to(Customer.model_name.human(count: 2),
                customers_path,
                class: nav_is_active('nav-item is-tab is-hidden-tablet', 'customers'),
                data: { turbolinks: false }) %>
    </div>
  </div>
</nav>
