<h1 class=title><%= t('.title') %></h1>

<div class="columns">
  <div class="column is-one-quarter">
    <%= render('projects/panel', active: :index_inspections, project: @project) %>
  </div>
  <div class="column">
    <table class="table is-striped">
      <thead>
        <tr>
          <td> <%= Inspection.human_attribute_name(:on) %></td>
          <td> <%= t('global.edit') %> </td>
        </tr>
      </thead>
      <tbody>
        <% @inspections.each do |i| %>
          <tr>
            <td> <%= l(i.on) %> </td>
            <td>
              <%= link_to(fa_icon('wrench'),
                          edit_project_inspection_path(@project, i)) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
