<% content_for(:sidemenu) do %>
  <%= render('projects/panel', active: :edit_image, project: @project) %>
<% end %>
<h1 class="title is-1"><%= Project.model_name.human %></h1>
<h2 class="subtitle is-3"><%= @project %></h2>
<h2 class="subtitle is-4"><%= t('.title') %></h2>

<%= render('form', image: @image, project: @project) %>
