<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=no">
    <title>Kontrollansvarig</title>
    <%= stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track': 'reload') %>
    <%= javascript_include_tag('application', 'data-turbolinks-track': 'reload') %>
    <%= javascript_pack_tag('application') %>
    <%= stylesheet_pack_tag('application') %>
    <%= csrf_meta_tags %>
    <%= render 'application/favicon' %>
  </head>
  <body>
    <header>
      <%= render 'header' %>
    </header>
    <div class="columns is-dark">
      <div class="column bg-gray-300">
        <%= yield %>
      </div>
    </div>
  </body>
</html>

